.black-clicker {
    background-color: black;
    color: white;
}
.yellow-clicker {
    background-color: yellow;
}
.black-clicker, .yellow-clicker {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}